.img {
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    img {
        width: 100%;
    }
}

.text {
    display: inline-block;
    font-weight: bold;
}